name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types: [completed]



jobs:
    deploy:
        if: ${{ github.event.workflow_run.conclusion == 'success' }}

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Deploy to Digital Ocean VM
              uses: appleboy/ssh-action@v1.0.0
              with:
                host: ${{ secrets.VM_HOST }}
                username: ${{ secrets.VM_USERNAME }}
                password: ${{ secrets.VM_PASSWORD }}
                script: |
                    echo "CONNECTED!"

                    cd /Our-Shelves || mkdir -p /Our-Shelves && cd /Our-Shelves 

                    if [ -d ".git"]; then
                      git pull origin main
                    else
                      git clone https://github.com/AugleBoBaugles/Our-Shelves.git
                    fi

