name: CI Pipeline

on:
    push:
        branches: [ main, dev, ci]
    pull_request:
        branches: [ main ]

jobs:
    faketest:
        runs-on: ubuntu-latest

        steps:

            - name: Logging Fake Test
              run: echo "Fake Test"
    backend-unit-tests:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Install dependencies 
              run: |
                cd backend
                npm ci

            - name: Run tests
              run: |
                cd backend
                npm run test

    frontend-unit-tests:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3