name: CI Pipeline

on:
    push:
        branches: [ main, dev, ci]
    pull_request:
        branches: [ main, dev ]

jobs:
    backend-unit-tests:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Install dependencies 
              run: |
                cd backend
                npm ci

            - name: Run tests
              run: |
                cd backend
                npm run test

    frontend-unit-tests:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - name: Install dependencies
              run: |
                cd frontend
                npm ci
            - name: Run tests
              run: |
                cd frontend
                npm run test

    integration-tests:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - name: Install dependencies
              run: |
                cd backend
                npm ci

            - name: Run tests
              run: |
                cd backend
                npm run test:integration
    e2e-tests:
        runs-on: ubuntu-latest
        needs: [backend-unit-tests, frontend-unit-tests]

        steps:
            - uses: actions/checkout@v3

            - name: Build and start all services
              run: docker compose up -d --build

            - name: Wait for services to be ready
              run: |
                echo "Waiting for backend to be ready..."
                timeout 60 bash -c 'until curl -f http://localhost:3000; do sleep 2; done'
                echo "Waiting for frontend to be ready..."
                timeout 60 bash -c 'until curl -f http://localhost:5173; do sleep 2; done'
              
            - name: Install Depencies
              run: |
                cd frontend
                npm ci
        
            - name: Run E2E tests
              run: |
                cd frontend
                npx cypress run

            - name: Stop services
              if: always()
              run: docker compose down

